<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	>
	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"
	>

	<style>
		:root, body, #root {
			height: 100%;
		}
	</style>
</head>
<body>
	<div id="root"><!-- Should be overriden with the actual content at all non-404 pages -->
		<script id="script_4834094162371463">
			const root = document.getElementById("root");
			const script = document.getElementById("script_4834094162371463");

			document.addEventListener("readystatechange", function readyStateChangeListener() {
				if (document.readyState !== "complete")
					return;

				else if (root.contains(script))
					window.location.assign("/?tried=" + encodeURIComponent(location.pathname));

				else
					document.removeEventListener("readystatechange", readyStateChangeListener);
			});
		</script>

		<style>
			@keyframes fade-in-to-100 {
				from { opacity: 0% } to { opacity: 100% }
			}

			@keyframes fade-in-to-7 {
				from { opacity: 0% } to { opacity: 7% }
			}

			#disclaimer-404 {
				font-size: 4rem;
				animation: fade-in-to-100 1s 1s both;
			}

			#disclaimer-404::before {
				content: "😮";
				position: absolute;
				right: 20%;
				top: 30%;
				transform: translateY(-50%);
				font-size: 12rem;
				z-index: -1;
				animation: fade-in-to-7 2s 2.5s both;
			}

			#homelink-404 {
				animation: fade-in-to-100 1s 1.5s both;
			}
		</style>

		<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
			<span id="disclaimer-404" class="lead text-center">Sorry, this page does not exist</span>

			<span id="homelink-404">
				<a href="/">Go to home page instead</a>
			</span>
		</div>
	</div>
</body>
</html>
