<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	>
	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"
	>

	<style>
		:root, body, #root {
			height: 100%;
		}
	</style>
</head>
<body>
	<div id="root"><!-- Should be overriden with the actual content at all non-404 pages -->
		<script id="script_4834094162371463">
			const root = document.getElementById("root");
			const script = document.getElementById("script_4834094162371463");

			document.addEventListener("readystatechange", function readyStateChangeListener() {
				if (document.readyState !== "complete")
					return;

				else if (root.contains(script))
					window.location.assign("/?tried=" + encodeURIComponent(location.pathname));

				else
					document.removeEventListener("readystatechange", readyStateChangeListener);
			});
		</script>
	</div>
</body>
</html>
